RESERVAS_DB_USER=postgres
RESERVAS_DB_PASSWORD=postgres
RESERVAS_DB_NAME=reservas
RESERVAS_DB_URL=postgresql://postgres:postgres@reservas-bd:5432/reservas
API_KEY=hotel-secret-key-2026

HABITACIONES_DB_USER=postgres
HABITACIONES_DB_PASSWORD=postgres
HABITACIONES_DB_NAME=habitaciones
HABITACIONES_DB_URL=sqlite:////data/habitaciones.db


